<h2>A simple, quick boilerplate "we won’t screw one another" contract generator.</h2>

<p>New projects are exciting.  Answering  five questions will help sort out some basics that are crucial to your future success.</p>

<p>You should make sure all the team members sign the napkin, and that you keep it in a safe place.  We won’t store a copy of it here on the site.</p>

<p>The napkin is a living document, just like a will (you should have one of those too). As you work on your project, your circumstances might change (for example, you might add a person to your team, or take on some funding). Come back to your napkin each time this happens, and make sure it still reflects what everyone wants.</p>

<p>If you take your project forward, and turn it into a business, you should definitely incorporate a company. We’ve written a simple guide to setting up a start-up company here.</p>

<p>The napkin only covers some of the options that might be suitable for you and your team, and it’s no replacement for getting advice. If you have any questions, we’d be happy to help.</p>
